 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= meta.title %></title>

	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.min.css">
	<link rel="shortcut icon" href="favicon.ico">


</head>
<body>

<!-- non-editable zone -->
<header class="top">
	<h1><%= meta.title %></h1>
	<h3>using the first template</h3>
</header>

<!-- <p class="message"><%= meta.message %></p> -->

<!-- generate zones -->
<div class="wrapper">
	<% for(var l = 0; l < data.length; l++) {%>
		<div class="zone">
			<h2 class="zoneTitle"><%= data[l].title %></h2>
			<% for(var c = 0; c < data[l].content.length; c++) { 
				var out = "", type = "" %>
				<div class="item">
					<%
					switch(data[l].content[c].type) {
						case "text":
						out = `<span name='${data[l].content[c].name}'>${data[l].content[c].data}</span>`
						type = "span"
						break;

					case "image":
						out = data[l].content[c].data
						type = "img"
						break;
					case "markdown":
						out = `<span>${data[l].content[c].data}</span>`
						break;
					case "html":
						out = `<span>${data[l].content[c].data}</span>`
						break;
					}
					%>

					<%- out %>
				</div>
			<% } %>


			<%-
			include('../templates/newItemSelector.ejs')
			%>

		</div>
	<% } %>


	<!-- zone add template -->
	<%-
	include('../templates/newZone.ejs')
	%>

</div>



<%-
include('../templates/footer.ejs')

%>
<%-
include(`../templates/${meta.editorTemplate}.ejs`)
%>

<script src="https://cdn.quilljs.com/1.3.1/quill.js"></script>
<script src="franklin-lib.js"></script>
<script src="<%=meta.phaseScript%>"></script>


</body>