<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= pageData.title %></title>

	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.min.css">
</head>
<body>

<!-- non-editable zone -->
<header>
	<h1>Franklin</h1>
</header>

<!-- editable zone -->
<h3>editable zone 1</h3>
<section franklin-state="editable-zone" zone-name="one">
	<!-- insert all items from database here -->
	<ul>
		<% for(var i=0; i< dbContent.one.length; i++) {%>
			<li franklin-state="editable" class="content">
				<span><%= dbContent.one[i].content %></span>
			</li>
		<% } %>
	</ul>
</section>		

<!-- other editable zone, unique franklinIDs -->
<h3>editable zone 2</h3>
<section franklin-state="editable-zone" zone-name="two">
	<!-- insert all items from database here -->
	<ul>
		<% for(var i=0; i< dbContent.two.length; i++) {%>
			<li franklin-state="editable" class="content">
				<span><%= dbContent.two[i].content %></span>
			</li>
		<% } %>
	</ul>
</section>		




<%-
include('templates/footer.ejs')
%>


<script src="franklin-lib.js"></script>
<script src="<%= sources.franklinStyle %>"></script>


</body>